{% extends 'frontend.html.twig' %}
{% block title %}Context Management{% endblock %}
{% block body %}
<div class="context-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="m-t-20">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
                {{ form_end(form) }}
            </div>

            <div class="col-md-8">
                <table class="table table-striped context-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Imagepath</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for context in contexts %}
                        <tr>
                            <td><a href="{{ path('context_show', { 'id': context.id }) }}">{{ context.name }}</a></td>
                            <td>{{ context.description }}</td>
                            <td><img src="{{ asset('uploads/context/' ~ context.imagePath) }}" width="100" height="100" alt=""></td>
                            {#<td>{{ context.createdUser }}</td>#}
                            {#<td>{{ context.modifiedUser }}</td>#}
                            {#<td>{% if context.createdDate %}{{ context.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            {#<td>{% if context.modifiedDate %}{{ context.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            {#<td>{{ context.id }}</td>#}
                            {#<td>{% if context.active %}Yes{% else %}No{% endif %}</td>#}
                            {#<td>{% if context.deleted %}Yes{% else %}No{% endif %}</td>#}
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ path('context_delete', { 'id': context.id }) }}" class="btn btn-danger">Delete</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('context_edit', { 'id': context.id }) }}" class="btn btn-primary">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
